<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!-- Make rows even in a table -->
<table>
  <tr class="field">
    <td><%= f.label :Call_num, class: 'form_field' %></td>
    <td><%= f.text_field :Call_num, step: 0.001  %></td>
  </tr>
  <tr class="field">
    <td><%= f.label :Title, class: 'form_field' %></td>
    <td><%= f.text_field :Title %></td>
  </tr>
  <tr class="field">
    <td><%= f.label :Subtitle, class: 'form_field' %></td>
    <td><%= f.text_field :Subtitle %></td>
  </tr>
  <tr class="field">
    <td><%= f.label :Author_last, class: 'form_field' %></td>
    <td><%= f.text_field :Author_last %></td>
  </tr>
  <tr class="field">
    <td><%= f.label :Author_first, class: 'form_field' %></td>
    <td><%= f.text_field :Author_first %></td>
  </tr>
  <tr class="field">
    <td><%= f.label :Copyright, class: 'form_field' %></td>
    <td><%= f.number_field :Copyright %></td>
  </tr>
  <tr class="field">
    <td><%= f.label :Subject, class: 'form_field' %></td>
    <td><%= f.text_area :Subject %></td>
  </tr>
  <tr class="field">
    <td><%= f.label :Annotation, class: 'form_field' %></td>
    <td><%= f.text_area :Annotation %></td>
  </tr>
  </table>
  <div class="actions" style='float: left;'>
    <%= f.submit class: 'addBtn col-md-2 btn btn-warning' %> || 
  </div>

<% end %>
