<div class=' btn-lg active search' id='search'>
  <form>
    Search Library by

    <select id='type'>
      <option value="Call_num">Call Number</option>
      <option value="Title">Title</option>
      <option value="Author_last">Author</option>
      <option value="Copyright">Copyright</option>
      <option value="Subject">Subject</option>
    </select> -
    <input type="Search" name="Search" id='searchBar'> -
    <input type="button" value='Search' id='search' class='btn btn-default' onclick='Model.search()'>
    <input type="button" value='Show All Books' id='viewAll' class='btn btn-default' onclick='Model.toggleAll()'>

  </form>
</div>

<div class='btn-success btn-lg active results hidden' id='results'>
</div>

<div class='col-md-12 table'>
  <div id="notice" class='col-md-12'><%= notice %></div>
  <% if @books != nil %>

  <table>
    <thead>
      <tr id='tableKey' class='hidden'>
        <th class='col-md-2'>Call #</th>
        <th class='col-md-2'>Title</th>
        <th class='col-md-2'>Subtitle</th>
        <th>Author last</th>
        <th>Author first</th>
        <th class='col-md-1'>Copyright</th>
        <th class='col-md-4'>Subject</th>
        <!-- <th class='col-md-4'>Annotation</th> -->
        <th class='col-md-1'></th>
      </tr>
    </thead>

    <tbody>
      <% @books.each do |book| %>
      <tr id='<%= book.id %>' class='tbrow hidden' >
        <td class='Call_num'><%= book.Call_num %></td>
        <td class='Title'><%= book.Title %></td>
        <td class='Subtitle'><%= book.Subtitle %></td>
        <td class='Author_last'><%= book.Author_last %></td>
        <td class='Author_first'><%= book.Author_first %></td>
        <td class='Copyright'><%= book.Copyright %></td>
        <td class='Subject'><%= book.Subject %></td>
        <!-- <td class='Annotation'><%= book.Annotation.truncate(250) %></td> -->
        <td ><%= link_to 'Show More', book, class: 'btn btn-default' %></td>
      </tr>
      <% end %>
    </tbody>

  </table>
  <% else %>
  No Search Results.
  <% end %>

</div>


