<div class='col-md-12'>
  <div id="notice" class='col-md-12'><%= notice %></div>
  <% if @books != nil %>

  <h1>Listing Books</h1>
    <table>
      <thead>
        <tr>
          <th>Call num</th>
          <th class='col-md-2'>Title</th>
          <th>Subtitle</th>
          <th>Author first</th>
          <th>Author last</th>
          <th>Copyright</th>
          <th>Subject</th>
          <th class='col-md-4'>Annotation</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @books.each do |book| %>
        <tr>
          <td><%= book.Call_num %></td>
          <td><%= book.Title %></td>
          <td><%= book.Subtitle %></td>
          <td><%= book.Author_first %></td>
          <td><%= book.Author_last %></td>
          <td><%= book.Copyright %></td>
          <td><%= book.Subject %></td>
          <td><%= book.Annotation.truncate(100) %></td>
          <td><%= link_to 'Show', book %></td>
          <td><%= link_to 'Edit', edit_book_path(book) %></td>
        </tr>
      </tbody>
      <% end %>
  </table>
  <% else %>
  No Search Results.
  <% end %>

</div>


