<div class=' btn-lg active search' id='search'>
  <form>
    Search Library by

    <select id='type'>
      <option value="Call_num">Call Number</option>
      <option value="Title">Title</option>
      <option value="Author_last">Author</option>
      <option value="Copyright">Copyright</option>
      <option value="Subject">Subject</option>
    </select> -
    <input type="Search" name="Search" id='searchBar'> -
    <input type="button" value='Search' id='search' class='btn btn-default' onclick='Model.search()'>
    <input type="button" value='Show All Books' id='viewAll' class='btn btn-default' onclick='Model.toggleAll()'>
    <!-- <input type="button" value='FB backup' id='backup' class='btn btn-default Superhidden' onclick='Model.backup()'> -->


  </form>
</div>

<div class='btn-success btn-lg active results hidden' id='results'>
</div>

<div class='col-md-12 table'>
  <div id="notice" class='col-md-12'><%= notice %></div>
  <% if @books != nil %>
<<<<<<< HEAD
<hr>
  <div id='resultsTtbl'></div>
<hr>
  <table id='table'>
=======

  <table>
>>>>>>> parent of ad597d9... made search standardized and slightly less dumb, set to 80%
    <thead>
      <tr id='tableKey' class='hidden'>
        <th class='col-md-2'>Call #</th>
        <th class='col-md-2'>Title</th>
        <th class='col-md-2'>Subtitle</th>
        <th>Author last</th>
        <th>Author first</th>
        <th class='col-md-1'>Copyright</th>
        <th class='col-md-4'>Subject</th>
        <!-- <th class='Superhidden'>Annotation</th> -->
        <th class='col-md-1'></th>
      </tr>
    </thead>

    <tbody id='tbody'>
      <% @books.each do |book| %>
      <tr id='<%= book.id %>' class='tbrow hidden' >
        <td class='Call_num'><%= book.Call_num %></td>
        <td class='Title'><%= book.Title %></td>
        <td class='Subtitle'><%= book.Subtitle %></td>
        <td class='Author_last'><%= book.Author_last %></td>
        <td class='Author_first'><%= book.Author_first %></td>
        <td class='Copyright'><%= book.Copyright %></td>
        <td class='Subject'><%= book.Subject %></td>
        <!-- <td class='Annotation Superhidden'><%= book.Annotation.truncate(250) %></td> -->
        <!-- <td class='created_at Superhidden'><%= book.created_at %></td> -->
        <!-- <td class='updated_at Superhidden'><%= book.updated_at %></td> -->
        <td ><%= link_to 'Show More', book, class: 'btn btn-default' %></td>
      </tr>
      <% end %>
    </tbody>

  </table>
  <% else %>
  No Search Results.
  <% end %>

</div>


