<p id="notice"><%= notice %></p>

<table>
<tr>
  <td><strong>Call num:</strong></td>
  <td class='show_entry'><%= @book.Call_num %></td>
</tr>

<tr>
  <td><strong>Title:</strong></td>
  <td><%= @book.Title %></td>
</tr>

<tr>
  <td><strong>Subtitle:</strong></td>
  <td><%= @book.Subtitle %></td>
</tr>

<tr>
  <td><strong>Author first:</strong></td>
  <td><%= @book.Author_first %></td>
</tr>

<tr>
  <td><strong>Author last:</strong></td>
  <td><%= @book.Author_last %></td>
</tr>

<tr>
  <td><strong>Copyright:</strong></td>
  <td><%= @book.Copyright %></td>
</tr>

<tr>
  <td><strong>Subject:</strong></td>
  <td><%= @book.Subject %></td>
</tr>

<tr>
  <td><strong>Annotation:</strong></td>
  <td><%= @book.Annotation %></td>
</tr>

</table>
<%= link_to 'Back', books_path, class: 'col-md-2 btn btn-default' %> |
<%= link_to 'Edit', edit_book_path(@book), class: 'addBtn col-md-2 btn btn-warning' %> |
<%= link_to 'Remove Entry', @book, method: :delete, data: { confirm: 'Are you sure?' }, class: 'addBtn col-md-2 btn btn-warning' %>

